.selected-year {
    margin: 0.5rem 0;
}

.select-item {
    display: flex;
    justify-content: space-between;
}

.select-item p {
    margin: 0.2rem 0;
}

.select-item .number {
    width: 1.7rem;
}

.select-item .title {
    width: 100%;
}

.select-item .viewer {
    width: 30%;
}

#film-data select{
    font-size: 0.85rem;
    padding: 0.2rem 0.4rem;
    margin: 0.2rem 0rem;
    border: 1px solid #dedede;
    border-radius: 5px;
    cursor: pointer;
}

.film-table {
    width: 100%;
    border-collapse: collapse;
    margin: 0.5rem 0;
    font-size: 0.85rem;
}


.film-table th,
.film-table td {
    border-bottom: 1px solid #ddd;
    padding: 0.335rem 0.6rem;
    text-align: left;
}

.film-table th:first-child,
.film-table td:first-child {
    text-align: center;
    width: 3rem;
}

.film-table th {
    background-color: #f5f5f5;
    /*background-color: #00a56226;*/
}

.film-table tr:nth-child(even) {
    background-color: #fafafa;
    /*background-color: #00a56212;*/
}

.footer-film {
    display: flex;
    justify-content: space-between;
    font-size: 0.7rem;
}