.selected-year {
    margin: 0.5rem 0;
}

.select-item {
    display: flex;
    justify-content: space-between;
}

.select-item p {
    margin: 0.2rem 0;
}

.select-item .number {
    width: 1.7rem;
}

.select-item .title {
    width: 100%;
}

.select-item .viewer {
    width: 20%;
}

#film-data select{
    font-size: 1rem;
    padding: 0.2rem 0.4rem;
    border: 1px solid #131313;
    border-radius: 5px;
    margin-left: 0.4rem;
    cursor: pointer;
}